<!DOCTYPE html>
<html>

<head>
    <title>CodeQuest - Login</title>
</head>

<body>

    <h1>🎮 CodeQuest</h1>

    <h2>Login</h2>

    <form method="POST">

        <label>Username or Email</label>
        <br>

        <input
            type="text"
            name="username"
            required
        >

        <br><br>

        <label>Password</label>
        <br>

        <input
            type="password"
            name="password"
            required
        >

        <br><br>

        <button type="submit">
            Login
        </button>

    </form>

    <br>

    <p>
        Don't have an account?
        <a href="/signup">Create Account</a>
    </p>

</body>

</html>
